.files {
	@apply flex items-stretch flex-wrap gap-4 overflow-y-auto overflow-x-hidden pr-5;
	max-height: 600px;
	scrollbar-color: #7b61ff #efecff;
	scrollbar-width: thin;

	&::-webkit-scrollbar {
		@apply w-2 rounded-lg;
	}

	&::-webkit-scrollbar-track {
		@apply w-full bg-gray-400 rounded-lg;
	}

	&::-webkit-scrollbar-thumb {
		@apply w-full bg-purple-400 rounded-lg;
	}
}
.file {
	@apply w-full relative border border-solid border-gray-600/20 rounded-sm bg-white;
	max-width: calc(100% / 8 - 14px);

	&:hover .remove {
		@apply opacity-100 visible pointer-events-auto;
	}
}
.btn {
	@apply w-full py-7 px-4 flex flex-col items-center gap-2 font-medium break-all text-md;
}
.preview {
	@apply relative w-full;
	height: 150px;

	> img {
		@apply min-w-full max-w-full min-h-full max-h-full object-center object-cover pointer-events-none absolute left-0 top-0 bottom-0 right-0 rounded-sm;
		z-index: 0 !important;
	}
}
.info {
	@apply text-sm-plus flex flex-col items-center gap-1;
}
.remove {
	@apply invisible pointer-events-none opacity-0 absolute right-2 top-2 w-7 h-7 rounded-full flex items-center justify-center transition-all hover:bg-gray-600/20;

	> svg {
		@apply w-4 h-4;
	}
}
.picked {
	@apply pointer-events-none absolute left-2 top-2 w-7 h-7 rounded-full flex items-center justify-center transition-all bg-gray-600/20;

	> svg {
		@apply w-4 h-4;
	}
}
