.products {
	@apply pb-6 mb-14;
}
.mobileHeading {
	@apply hidden mb-4;
}
.heading {
	@apply mb-8;
}
.list {
	@apply flex gap-5 px-2 pt-2 pb-9 overflow-x-auto overflow-y-hidden;
	scrollbar-color: #e51314 #d6d3d3;
	scrollbar-width: thin;

	&::-webkit-scrollbar {
		@apply rounded-full;
		height: 5px;
	}

	&::-webkit-scrollbar-track {
		@apply h-full rounded-full bg-gray-400;
	}

	&::-webkit-scrollbar-thumb {
		@apply h-full bg-red-400 rounded-full;
	}
}
.item {
	@apply flex flex-col bg-white rounded-md;
	min-width: 270px;
	max-width: 270px;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
	padding: 16px 30px 26px;
}
.edit {
	@apply absolute left-2 top-2 z-2;
}
.edit > a {
	@apply flex items-center justify-center p-2 rounded-full bg-white shadow-sm;

	> svg {
		@apply w-5 h-5;
	}
}
.top {
	@apply flex items-center justify-between gap-5 mb-5 relative;
}
.types {
	@apply flex flex-wrap gap-2;
}
.type {
	@apply w-10 h-10 rounded-full flex items-center justify-center p-1;
	background-color: #c8c8c8;
}
.sale,
.newest {
	@apply rounded-sm font-roboto-serif text-md-minus text-white text-center;
	padding: 5px 10px;
	min-width: 76px;
}
.sale {
	@apply bg-red-400;
}
.newest {
	@apply bg-green-400;
}
.currentPriceBox,
.oldPriceBox {
	@apply flex items-end gap-5;
}
.price {
	@apply font-semibold;
}
.piecePrice {
	@apply text-md-minus text-gray-600;
}
.salePriceBox {
	@apply flex flex-col items-start gap-0.5;
}
.newPriceBox {
	@apply flex items-end gap-1.5;

	.piecePrice {
		@apply text-red-400;
	}
}
.newPrice {
	@apply flex items-center gap-2 text-red-400 font-semibold;
}
.salePercent {
	@apply bg-red-400 rounded-sm py-0.5 px-1 text-sm text-white;
}
.oldPrice {
	@apply font-semibold text-gray-500 line-through;
}
.info {
	@apply mb-3 cursor-pointer;
}
.name {
	@apply font-roboto-serif mt-1.5 text-gray-600;
}
.sizes {
	@apply flex flex-wrap gap-1.5 mb-2;
}
.sizeBtn {
	@apply font-roboto-serif text-sm-minus flex items-center justify-center p-0.5 rounded-full transition-colors;
	width: 30px;
	height: 30px;

	&:hover,
	&.picked {
		@apply bg-gray-200;
	}
}
.colors {
	@apply flex flex-wrap gap-1.5 mb-4;
}
.colorBtn {
	@apply font-roboto-serif text-sm-minus flex items-center rounded-full transition-colors p-1.5;
	width: 30px;
	height: 30px;

	&:hover,
	&.picked {
		@apply bg-gray-200;
	}

	> span {
		@apply inline-block w-full h-full rounded-full;
	}
}
.buttons {
	@apply mt-auto flex flex-wrap justify-between gap-2;
}
.quantity {
	@apply flex rounded-md bg-gray-200 h-7;
}
.quantityBtn {
	@apply h-full w-6 flex items-center justify-center font-light font-roboto-serif px-1.5;

	> svg {
		@apply transition-colors;
	}

	&:first-child {
		@apply rounded-tl-md rounded-bl-md;
	}

	&:last-child {
		@apply rounded-tr-md rounded-br-md;
	}

	&:hover {
		> svg {
			@apply text-red-400;
		}
	}
}
.quantityCount {
	@apply flex h-full items-center justify-center w-5;
}
.actions {
	@apply flex gap-2;
}
.link,
.favorite {
	@apply flex items-center justify-center p-1 rounded-full bg-gray-200 up-hover;
}
.favorite {
	> svg {
		@apply transition-colors fill-transparent;
	}

	&.filled {
		> svg {
			@apply stroke-red-300 fill-red-300;
		}
	}
}
.addToCart {
	@apply w-full uppercase flex items-start justify-center gap-1.5 font-light font-roboto-serif py-3 rounded-md bg-gray-200 up-hover;

	> svg {
		@apply w-4 h-4;
	}
}
.removeFromCart {
	@apply items-center;
}
.preview {
	@apply relative mb-4 flex items-end justify-center;
	height: 150px;

	> img {
		@apply max-w-full h-full object-cover object-center rounded-sm;
	}
}

@media (max-width: 1200px) {
	.item {
		min-width: 250px;
		max-width: 250px;
	}
}

@media (max-width: 1000px) {
	.products {
		@apply p-0;
	}
	.list {
		@apply pb-7;
	}
}

@media (max-width: 800px) {
	.item {
		padding: 16px 24px;
		min-width: 230px;
		max-width: 230px;
	}
	.top {
		@apply gap-3 mb-3;
	}
	.type {
		@apply w-9 h-9;
	}
	.info {
		@apply mb-2.5;
	}
	.addToCart {
		@apply py-2.5;
	}
}

@media (max-width: 600px) {
	.heading {
		@apply hidden;
	}
	.mobileHeading {
		@apply block;
	}
}

@media (max-width: 550px) {
	.section {
		@apply pb-8;
	}
	.products {
		@apply mb-0;
	}
	.list {
		@apply gap-0 p-0 pb-5;
	}
	.item {
		@apply border border-solid rounded-none;
		max-width: 50%;
		min-width: 50%;
		box-shadow: none;
		padding: 12px 15px;

		&:nth-child(even) {
			@apply border-l-0;
		}
	}
	.piecePrice {
		font-size: 11px;
	}
	.currentPriceBox,
	.oldPriceBox {
		@apply text-md gap-x-2 gap-y-1 flex-wrap;
	}
	.name {
		@apply text-md;
	}
	.addToCart {
		@apply text-md;
	}
}

@media (max-width: 420px) {
	.preview {
		height: 170px;
	}
}
