.products {
	@apply mt-20;
}
.title {
	@apply text-6lg font-semibold mb-5;
}
.list {
	@apply flex flex-wrap gap-6;
}
.item {
	min-width: calc(20% - 20px);
	max-width: calc(20% - 20px);
}

@media (max-width: 1400px) {
	.title {
		font-size: 29px;
	}
	.list {
		@apply gap-5;
	}
	.item {
		min-width: calc(25% - 15px);
		max-width: calc(25% - 15px);
	}
}

@media (max-width: 1100px) {
	.list {
		@apply gap-4;
	}
	.item {
		min-width: calc(100% / 3 - 11px);
		max-width: calc(100% / 3 - 11px);
	}
}

@media (max-width: 800px) {
	.title {
		font-size: 24px;
	}
	.products {
		@apply mt-6;
	}
	.list {
		@apply gap-3;
	}
	.item {
		min-width: calc(50% - 6px);
		max-width: calc(50% - 6px);
	}
}

@media (max-width: 550px) {
	.list {
		@apply gap-0;
	}
	.item {
		min-width: 50%;
		max-width: 50%;

		&:nth-child(n+3) {
			@apply border-t-0;
		}
	}
}
