.reviews {
	@apply mb-9;
}
.mobileHeading {
	@apply hidden mb-7;
}
.heading {
	@apply mb-8;
}
.list {
	@apply flex gap-11 pb-9 px-2 overflow-x-auto overflow-y-hidden;
	padding-top: 95px;
	scrollbar-color: #e51314 #d6d3d3;
	scrollbar-width: thin;

	&::-webkit-scrollbar {
		@apply rounded-full;
		height: 5px;
	}

	&::-webkit-scrollbar-track {
		@apply h-full rounded-full bg-gray-400;
	}

	&::-webkit-scrollbar-thumb {
		@apply h-full bg-red-400 rounded-full;
	}
}
.item {
	@apply relative flex flex-col gap-8 text-center items-center bg-white rounded-lg px-12 pb-8;
	padding-top: 130px;
	min-width: 360px;
	max-width: 360px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
.photo,
.brackets {
	@apply absolute top-0 -translate-y-1/2;
}
.photo {
	@apply mx-auto right-0 left-0;
}
.brackets {
	@apply right-6;
}
.description {
	@apply font-roboto-flex;
}
.name {
	@apply text-3lg font-semibold;
}

@media (max-width: 1200px) {
	.list {
		padding-top: 75px;
	}
	.item {
		@apply px-9 gap-5;
		min-width: 300px;
		max-width: 300px;
		padding-top: 100px;

		> img {
			max-width: 150px;
		}
	}
	.name {
		font-size: 22px;
	}
	.description {
		@apply text-md;
	}
}

@media (max-width: 1000px) {
	.list {
		@apply pb-7;
	}
}

@media (max-width: 600px) {
	.heading {
		@apply hidden;
	}
	.mobileHeading {
		@apply block;
	}
	.item {
		@apply min-w-full max-w-full;
	}
}

@media (max-width: 550px) {
	.list {
		@apply pb-5;
	}
}
