.breadcrumb {
	@apply flex;
	height: 73px;
}
.catalog {
	@apply flex items-center gap-7 text-white text-2lg font-semibold px-6 bg-red-400 whitespace-nowrap;

	> svg {
		@apply w-7 h-7;
	}
}
.fill {
	@apply w-full bg-gray-100 flex items-center justify-between;
}
.list {
	@apply px-8 flex items-center gap-2;
}
.item {
	@apply font-light whitespace-nowrap;

	& + & {
		@apply relative pl-4;

		&::before,
		&::after {
			@apply absolute left-0 bg-red-400 w-2;
			content: '';
			height: 1px;
			bottom: 5px;
		}

		&::before {
			@apply top-2;
			transform: rotate(30deg);
		}
		&::after {
			transform: rotate(-30deg);
		}
	}
}
.search {
	@apply mr-11;
	max-width: 480px;
}
.input {
	padding-left: 54px !important;
	padding-top: 12px !important;
	padding-bottom: 12px !important;
}

@media (max-width: 1350px) {
	.catalog {
		@apply gap-4 text-lg px-4;

		> svg {
			@apply w-6 h-6;
		}
	}
	.search {
		@apply mr-8;
		max-width: 400px;

		img {
			width: 25px;
			height: 25px;
		}
	}
	.input {
		padding-left: 25px !important;
		padding-top: 10px !important;
		padding-bottom: 10px !important;
	}
}

@media (max-width: 1100px) {
	.catalog {
		@apply gap-3;
		font-size: 17px;
	}
	.search {
		@apply mr-4;
		max-width: 320px;

		img {
			width: 24px;
			height: 24px;
		}
	}
	.item,
	.search {
		@apply text-md-plus;
	}
	.list {
		@apply px-6;
	}
	.breadcrumb {
		height: 62px;
	}
}

@media (max-width: 900px) {
	.breadcrumb {
		@apply flex-col;
		height: 115px;
	}
	.catalog {
		@apply py-4;
	}
	.fill {
		@apply py-2.5;
	}
}

@media (max-width: 700px) {
	.breadcrumb {
		height: 152px;
	}
	.fill {
		@apply flex-col items-start gap-2.5 px-4;
	}
	.list {
		@apply py-1;
	}
	.search {
		@apply max-w-full;
	}
	.search,
	.list {
		@apply px-0 mx-0;
	}
}

@media (max-width: 550px) {
	.item,
	.search {
		@apply text-md;
	}
}